section {
    background-color: #E1E1E1;
    min-height: 100vh;
}

.home-parent {
    padding-top: 100px;
}

@media screen and (max-width: 768px) {
    .home-parent {
        padding-top: 0px;
    }

}