:root {
    --blue: #008ECC;
    --white: rgba(243, 249, 251, 1);
    --yellow: #FFC915;
}

.text-yellow {
    color: var(--yellow);
}

.cart-parent {
    width: 227px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid #EDEDED;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 27px;
    position: relative;
    margin: 10px;
}

.cart-sub-listings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding-left: 12px;
}

.image {

    justify-content: center;
    position: relative;
    transition: all 0.7s ease;
}

.image img {
    height: 150px;
    width: auto;
    max-width: 80%;
    object-fit: contain;
}

.image img {
    transition: all 0.7s ease;
    transform: scale(1);
}

.image:hover img {
    transform: scale(1.1);

}

.btn-cart {
    background-color: #EDEDED;
    border-radius: 6px;
    padding: 13px 43px;

    z-index: 100;
    cursor: pointer;
    border: none;

    transition: opacity 0.7s ease;
}

.btn-hover {
    opacity: 0;
    position: absolute;
}

.btn-small {
    display: none;
}

.image:hover .btn-cart {
    opacity: 1;
}

.btn-cart:hover {
    background: #FFC915;
}

.cart-active {
    visibility: visible;
}


.image::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 227px;
    height: 181px;
    border-radius: 16px;
    opacity: 0;
    /* transform: scale(0.8); */

    transition: all 0.7s ease;
    z-index: 10;

}

.image:hover::after {
    opacity: 1;
    /* transform: scale(1); */
}

.discount {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--blue);
    border-radius: 0px 16px;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    outline: none;
}

@media screen and (max-width: 768px) {
    .cart-parent {
        width: 90%;
    }

    .cart-sub-listings {
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: space-between;
    }

    .cart-sub-listings h3 {
        width: 70%;
    }

    .cart-sub-listings h4 {
        padding-right: 10px;
    }

    .cart-sub-listings div {
        width: 50%;
    }


}